<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.1.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.1.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.1.0/ADCSchema.xsd"
          version="2.1.0"
          askiaCompat="5.4.2">
  <info>
    <name>SmileyRating</name>
    <guid>0d52bc75-6ad2-4512-835a-0cc6b73b75ea</guid>
    <version>3.0.0</version>
    <date>2015-05-13</date>
    <description><![CDATA[1.0.6 - Fixed max width being forced outside of adc
        1.0.7 - Added new set of flat smiley icons and possibility of switching between both sets
        1.0.8 - Udpate to jquery 1.11.1 and fixed a problem of img size on win 10
		2.0.0 - Theme implementation
		2.0.2 - Fixed smiley rating when not in a loop
		2.0.3 - Added alt attribute to img
		3.0.0 - AvailableAnswers]]></description>
    <company>Askia SAS</company>
    <author><![CDATA[Timothee Plante <timothee@askia.com>        Paul Nevin <paul@askia.com>        Jerome Duparc <jeromed@askia.com>]]></author>
    <site>www.askia.com</site>
    <helpURL>https://support.askia.com/hc/en-us/articles/200958012-adc-2-0-Smiley-Rating</helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" single="true" multiple="false" numeric="false" date="false" open="false" chapter="false" requireParentLoop="false" requireLoopDepth="0" />
      <constraint on="controls" label="true" textbox="true" responseblock="true" checkbox="false" listbox="false" radiobutton="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="fallback">
    <output id="fallback" manageLoopDepth="1">
      <description><![CDATA[Fallback when the browser doesn't support Javascript]]></description>
      <condition><![CDATA[Not(Browser.Support("javascript"))]]></condition>
      <content fileName="singleFallback.html" type="html" mode="dynamic" position="none" />
      <content fileName="smileyRating.css" type="css" mode="dynamic" position="head" />
      <content fileName="defaultFallback.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="singleFallback.html" type="html" mode="dynamic" position="none" />
      <content fileName="singleLoopFallback.html" type="html" mode="dynamic" position="none" />
    </output>
    <output id="standard" manageLoopDepth="1">
      <description><![CDATA[ Output use when javascript is enable]]></description>
      <condition><![CDATA[Browser.Support("javascript")]]></condition>
      <content fileName="jquery-1.11.1.min.js" type="javascript" mode="share" position="head" />
      <content fileName="jquery.timer.js" type="javascript" mode="share" position="head" />
      <content fileName="smileyRating.css" type="css" mode="dynamic" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="single.html" type="html" mode="dynamic" position="none" />
      <content fileName="smileyRating.js" type="javascript" mode="static" position="head" />
      <content fileName="standard.js" type="javascript" mode="dynamic" position="foot" />
      <content fileName="sad.png" type="image" mode="static" position="none" />
      <content fileName="love.png" type="image" mode="static" position="none" />
      <content fileName="smile_1.png" type="image" mode="static" position="none" />
      <content fileName="smile_2.png" type="image" mode="static" position="none" />
      <content fileName="happy.png" type="image" mode="static" position="none" />
      <content fileName="Greysad.png" type="image" mode="static" position="none" />
      <content fileName="Greylove.png" type="image" mode="static" position="none" />
      <content fileName="Greysmile_1.png" type="image" mode="static" position="none" />
      <content fileName="Greysmile_2.png" type="image" mode="static" position="none" />
      <content fileName="Greyhappy.png" type="image" mode="static" position="none" />
      <content fileName="flat-smiley-adc-unhappy.png" type="image" mode="static" position="none" />
      <content fileName="Greyflat-smiley-adc-unhappy.png" type="image" mode="static" position="none" />
      <content fileName="flat-smiley-adc-unhappy-plus.png" type="image" mode="static" position="none" />
      <content fileName="Greyflat-smiley-adc-unhappy-plus.png" type="image" mode="static" position="none" />
      <content fileName="flat-smiley-adc-medium.png" type="image" mode="static" position="none" />
      <content fileName="Greyflat-smiley-adc-medium.png" type="image" mode="static" position="none" />
      <content fileName="flat-smiley-adc-happy.png" type="image" mode="static" position="none" />
      <content fileName="Greyflat-smiley-adc-happy.png" type="image" mode="static" position="none" />
      <content fileName="flat-smiley-adc-happy-plus.png" type="image" mode="static" position="none" />
      <content fileName="Greyflat-smiley-adc-happy-plus.png" type="image" mode="static" position="none" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="controlAlignment" name="Control Alignment" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="right" text="Right" />
          <option value="center" text="Center" />
          <option value="left" text="Left" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="controlwidth" name="Control Width" type="string" mode="static">
        <description><![CDATA[
                     
                ]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlmaxwidth" name="Control Max Width" type="string" mode="static">
        <description><![CDATA[
                     
                ]]></description>
        <value><![CDATA[500px]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlpadding" name="Control Padding" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[]]></description>
        <value><![CDATA[0.5em 0]]></value>
      </property>
      <property xsi:type="standardProperty" id="animate" name="Animate" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[Activate or deactivate the animation]]></description>
        <value><![CDATA[yes]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="animateSpeed" name="Animation Speed" type="number" mode="static" require="false" visible="false">
        <description><![CDATA[Set the animation speed]]></description>
        <value><![CDATA[200]]></value>
        <options>
          <option value="0" text="0ms" />
          <option value="200" text="200ms" />
          <option value="500" text="500ms" />
          <option value="800" text="800ms" />
          <option value="1000" text="1000ms" />
          <option value="1200" text="1200ms" />
          <option value="1500" text="1500ms" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="autoForward" name="Auto Forward" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Whether the question continues to the next automatically if a single choice question]]></description>
        <value><![CDATA[false]]></value>
        <options>
          <option value="true" text="Yes" />
          <option value="false" text="No" />
        </options>
      </property>
    </category>
    <category id="fallback" name="Fallback">
      <property xsi:type="standardProperty" id="isinloop" name="Is In Loop" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="useList" name="Use a selection list" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Use a select list to enumerate all available responses.
                    This option works with closed and numeric questions.
                    For numeric question, the range between bounds should be inferior than 20. It take in account the step option.]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
    </category>
    <category id="smileys" name="Smileys">
      <property xsi:type="standardProperty" id="smileyset" name="Smiley icon set" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Allows you to change the icon set used for the smiley control]]></description>
        <value><![CDATA[standard]]></value>
        <options>
          <option value="standard" text="Standard set" />
          <option value="flat" text="Flat set" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="smileysorientation" name="Smileys Orientation" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Change the orientation of the smileys]]></description>
        <value><![CDATA[lefttoright]]></value>
        <options>
          <option value="lefttoright" text="Left to Right" />
          <option value="righttoleft" text="Right to Left" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="smileycoef" name="Smiley Size Coef" type="number" mode="static" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="smileybigcoef" name="Smiley Big Size Coef" type="number" mode="static" require="false" visible="true">
        <description><![CDATA[Set the maximum size of the smiley]]></description>
        <value><![CDATA[1.5]]></value>
      </property>
      <property xsi:type="standardProperty" id="smileyminwidth" name="Smiley Min Size" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Set the minimum size of the smiley]]></description>
        <value><![CDATA[30px]]></value>
      </property>
    </category>
    <category id="backgroundBar" name="Background Bar">
      <property xsi:type="standardProperty" id="controlheight" name="Background Height" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Background bar height]]></description>
        <value><![CDATA[30px]]></value>
      </property>
      <property xsi:type="standardProperty" id="primaryColor" name="Primary Colour" type="color" mode="static" require="false" visible="true">
        <description><![CDATA[Primary colour of the item]]></description>
        <value><![CDATA[255,0,0]]></value>
      </property>
      <property xsi:type="standardProperty" id="secondaryColor" name="Secondary Colour" type="color" mode="static" require="false" visible="true">
        <description><![CDATA[Secondary colour of the item]]></description>
        <value><![CDATA[0,255,0]]></value>
      </property>
      <property xsi:type="standardProperty" id="gradient" name="Gradient Type" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Set the gradient type]]></description>
        <value><![CDATA[gradientHorizontal]]></value>
        <options>
          <option value="gradientHorizontal" text="Horizontal" />
          <option value="gradient" text="Vertical" />
          <option value="nogradient" text="No gradient" />
        </options>
      </property>
    </category>
    <category id="backgroundBorder" name="Background Border">
      <property xsi:type="standardProperty" id="backgroundBorderColor" name="Background Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background border colour[]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="backgroundBorderSize" name="Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border width]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="backgroundBorderStyle" name="Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[Set the border style]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="solid" text="Solid" />
          <option value="double" text="Double" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="none" text="None" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="borderRadius" name="Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Set the border radius (in px)]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
    </category>
    <category id="loop" name="Looped Questions">
      <property xsi:type="standardProperty" id="captionAlignment" name="Caption Alignment" type="string" mode="static">
        <description><![CDATA[
                    Set the alignment of the captions
                ]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="right" text="Right" />
          <option value="center" text="Center" />
          <option value="left" text="Left" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="captionPadding" name="Caption Padding" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[Set the padding of the captions]]></description>
        <value><![CDATA[0.5em 0]]></value>
      </property>
      <property xsi:type="standardProperty" id="captionWidth" name="Caption Width" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Set the width of the captions]]></description>
        <value><![CDATA[auto]]></value>
      </property>
      <property xsi:type="standardProperty" id="fontColor" name="Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Set the font colour for the captions]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="fontStyle" name="Font Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[Set the font style for the captions]]></description>
        <value><![CDATA[normal]]></value>
        <options>
          <option value="normal" text="Normal" />
          <option value="italic" text="Italic" />
          <option value="oblique" text="Oblique" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="fontSize" name="Font Size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Set the font size for the captions (in px)]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="imageAlignment" name="Image Alignment" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Set the image alignment]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="right" text="Right" />
          <option value="left" text="Left" />
        </options>
      </property>
    </category>
    <category id="labelImage" name="Label Image">
      <property xsi:type="standardProperty" id="imagePadding" name="Image Padding" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[2px]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxImageWidth" name="Max Image Width" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[100px]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxImageHeight" name="Max Image Height" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[100px]]></value>
      </property>
      <property xsi:type="standardProperty" id="forceImageSize" name="Force Image Size" type="string" mode="static">
        <description><![CDATA[
                     
                ]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="no" text="No" />
          <option value="both" text="Force Both" />
          <option value="width" text="Force Width" />
          <option value="height" text="Force Height" />
        </options>
      </property>
    </category>
    <category id="tooltips" name="Tool Tips">
      <property xsi:type="standardProperty" id="showTooltips" name="Show tooltips" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Show tooltips when hovering the smileys]]></description>
        <value><![CDATA[yes]]></value>
        <options>
          <option value="no" text="No" />
          <option value="yes" text="Yes" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="tooltipFontSize" name="Tooltip font size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font size for the tooltip]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipFontColour" name="Tooltip font colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font colour for the tooltip]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipCurvedCorners" name="Tooltip border radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border radius on tooltips]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipColourPrimary" name="Tooltip Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the tooltip]]></description>
        <value><![CDATA[{%= Theme.NeutralLightColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltippadding" name="Tooltip Padding" type="string" mode="dynamic" require="false" visible="false">
        <description><![CDATA[Set the padding of the tooltip]]></description>
        <value><![CDATA[0.5em]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipBorderColour" name="Tooltip Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Tooltip border colour]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipBorderThickness" name="Tooltip Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the tooltip]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipBorderStyle" name="Tooltipo Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the tooltip]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
    </category>
    <category id="DK" name="DK">
      <property xsi:type="standardProperty" id="turnOnDK" name="Turn on DK question" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Activate Don't Knows]]></description>
        <value><![CDATA[dkoff]]></value>
        <options>
          <option value="dkoff" text="No" />
          <option value="dkon" text="Yes" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkAlignment" name="DK Alignment" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Alignment of Don't Knows]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="right" text="Right" />
          <option value="center" text="Center" />
          <option value="left" text="Left" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="DKtext" name="DK Text" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Text for Don't Knows]]></description>
        <value><![CDATA[Don't Know]]></value>
      </property>
      <property xsi:type="standardProperty" id="DKpadding" name="DK Text Padding" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[Text padding for Don't knows]]></description>
        <value><![CDATA[0.3em]]></value>
      </property>
      <property xsi:type="standardProperty" id="DKmargin" name="DK Margin" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[Margin for Don't knows]]></description>
        <value><![CDATA[0]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkprimaryColor" name="DK Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Background Color]]></description>
        <value><![CDATA[{%= Theme.NeutralLightColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkfontColor" name="DK Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkfontSize" name="DK Font Size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkborderRadius" name="DK Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Border radius]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkborderColor" name="DK Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Border color]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkborderSize" name="DK Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Border Width]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkborderStyle" name="DK Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[DK Border style]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="solid" text="Solid" />
          <option value="double" text="Double" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="none" text="None" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkshadow" name="DK Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[DK Drop shadow]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkhovercolorshow" name="Show DK Hover Colour" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[Show DK Hover color]]></description>
        <value><![CDATA[yes]]></value>
        <options>
          <option value="no" text="No" />
          <option value="yes" text="Yes" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkhoverprimaryColor" name="DK Hover Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Hover Background color]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkhoverfontshow" name="Show DK Hover Font Colour" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[Show DK Hover font color]]></description>
        <value><![CDATA[yes]]></value>
        <options>
          <option value="no" text="No" />
          <option value="yes" text="Yes" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkhoverfontColor" name="DK Hover Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Hover Font color]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkhoverbordershow" name="Show DK Hover Border" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[Show DK Hover border]]></description>
        <value><![CDATA[yes]]></value>
        <options>
          <option value="no" text="No" />
          <option value="yes" text="Yes" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkhoverborderColor" name="DK Hover Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Hover Border color]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkhoverborderSize" name="DK Hover Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Hover Border Width]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkhoverborderStyle" name="DK Hover Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[DK Hover Border Style]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="solid" text="Solid" />
          <option value="double" text="Double" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="none" text="None" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkhovershadow" name="DK Hover Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[DK Hover Drop Shadow]]></description>
        <value><![CDATA[0px 2px 4px rgba(0,0,0,.2)]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkselectedprimaryColor" name="DK Selected Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Selected Background color]]></description>
        <value><![CDATA[{%= Theme.PrimaryColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkselectedfontColor" name="DK Selected Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Selected Font Color]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkselectedborderColor" name="DK Selected Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Selected Border Color]]></description>
        <value><![CDATA[{%= Theme.PrimaryDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkselectedborderSize" name="DK Selected Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Selected Border Width]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkselectedborderStyle" name="DK Selected Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[DK Selected Border Style]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="solid" text="Solid" />
          <option value="double" text="Double" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="none" text="None" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkselectedshadow" name="DK Selected Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[DK Selected Drop Shadow]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
    </category>
  </properties>
</control>